
body{
    background:url(/imges/path.jpg) no-repeat;
    background-size: cover;
    font-size: 1em;
}
#form{
    margin:10% auto 10% auto;
    width: 35%;
    background: #1b060675;
    padding:10px;
    color:#fff;
    border-radius: 10px;
}
.icon{
    color:rgb(250, 250, 14);
    position: relative;
    left: 35%;
    top: -110px;
    font-size: 3.5em;
}
.input span{
    position: absolute;
    margin-top: 10px;
}
.input{
    width: 100%;
    margin-bottom: 10px;
}
.icons{
    color:#000;
    min-width: 50px; 
}
#pass{
    min-width: 80%;
    padding:10px;
    text-align: center;
    border-radius: 5px;
}
#user{
    min-width: 80%;
    padding:10px;
    text-align: center;
    border-radius: 5px; 
}

button{
    background:yellow;
    color:#000;
    border-radius: 5px;
    border-style: none;
    padding:10px 15px;
    float: right;
    font-size: 1.3em;
}
p{
    clear: both;
}
p a{
    text-decoration: none;
}